version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
  - package-ecosystem: "pip"
    directories:
      - "/"
      - "/terraform"
    versioning-strategy: "increase"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    cooldown:
      default-days: 1
      exclude:
        - "pipenv"
  - package-ecosystem: "terraform"
    directory: "/terraform"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
