name: terraform
on:
  pull_request:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/workflows/terraform.yml"
  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/workflows/terraform.yml"
  schedule:
    - cron: "0 21 1 * 0"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        with:
          tflint_version: "latest"
          tflint_wrapper: false
      - name: Init TFLint
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ github.token }}
        working-directory: ./terraform
      - name: Terraform linting
        id: tflint
        run: tflint -f compact --minimum-failure-severity notice
        working-directory: ./terraform
  deploy:
    if: ${{ github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    needs: [lint]
    permissions:
      id-token: write
      contents: read
    env:
      lambda_package: ${{ vars.LAMBDA_PACKAGE }}
      TF_VAR_bucket_name: ${{ secrets.RSS_FEEDS_BUCKET }}
      TF_VAR_topic_name: ${{ secrets.RSS_FEEDS_TOPIC }}
      TF_VAR_alarm_topic_name: ${{ secrets.RSS_FEEDS_ALARM_TOPIC }}
      TF_VAR_rss_feeds_urls: ${{ vars.RSS_FEEDS_URLS }}
      TF_VAR_lambda_name: ${{ vars.LAMBDA_NAME }}
      TF_VAR_lambda_package_path: ${{ github.workspace}}/${{ vars.LAMBDA_PACKAGE }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE }}
      - name: Create dummy package
        run: zip -j ${{ vars.LAMBDA_PACKAGE }} handler.py
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: Terraform format
        run: terraform fmt -check
        working-directory: ./terraform
      - name: Terraform init
        run: terraform init -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}"
        working-directory: ./terraform
      - name: Terraform plan
        run: terraform plan -out=tfplan
        working-directory: ./terraform
      - name: Terraform apply
        if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch')}}
        run: terraform apply -auto-approve tfplan
        working-directory: ./terraform
